EDIT_SITES_WORKFLOWS/10-update-site-settings.json
{
  "name": "UPDATE Site Settings",
  "nodes": [
    {
      "parameters": {},
      "id": "webhook-update-settings",
      "name": "Webhook - PUT Settings",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "update-site-settings",
      "webhookPath": "/api/sites/:siteSlug/settings",
      "httpMethod": "PUT"
    },
    {
      "parameters": {
        "jsCode": "// Validar e preparar dados\nconst siteSlug = $input.first().json.params?.siteSlug || $input.first().json.body?.siteSlug;\nconst body = $input.first().json.body || {};\n\nif (!siteSlug) {\n  return {\n    json: {\n      success: false,\n      error: 'siteSlug é obrigatório'\n    },\n    statusCode: 400\n  };\n}\n\n// Preparar dados para atualização (mapear do formato frontend para banco)\nconst updates = {\n  show_brand: body.showBrand !== undefined ? body.showBrand : null,\n  show_phone: body.showPhone !== undefined ? body.showPhone : null,\n  show_whatsapp: body.showWhatsApp !== undefined ? body.showWhatsApp : null,\n  whatsapp_number: body.whatsAppNumber || null,\n  footer_text: body.footerText || null,\n  color_scheme: body.colorScheme || null,\n  theme: body.theme ? JSON.stringify(body.theme) : null,\n  custom_css: body.customCSS || null,\n  primary_color: body.primaryColor || null,\n  background_color: body.backgroundColor || null,\n  accent_color: body.accentColor || null,\n  text_color: body.textColor || null,\n  shadow_color: body.shadowColor || null,\n  border_color: body.borderColor || null\n};\n\n// Construir SQL dinamicamente com valores escapados\nconst values = [\n  siteSlug,\n  updates.show_brand,\n  updates.show_phone,\n  updates.show_whatsapp,\n  updates.whatsapp_number,\n  updates.footer_text,\n  updates.color_scheme,\n  updates.theme,\n  updates.custom_css,\n  updates.primary_color,\n  updates.background_color,\n  updates.accent_color,\n  updates.text_color,\n  updates.shadow_color,\n  updates.border_color\n];\n\nreturn {\n  json: {\n    siteSlug: siteSlug,\n    updates: updates,\n    sqlValues: values\n  }\n};"
      },
      "id": "validate-prepare",
      "name": "✅ Validar e Preparar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO elevea.site_settings (site_slug, show_brand, show_phone, show_whatsapp, whatsapp_number, footer_text, color_scheme, theme, custom_css, primary_color, background_color, accent_color, text_color, shadow_color, border_color) VALUES ($1, $2, $3, $4, $5, $6, $7, $8::jsonb, $9, $10, $11, $12, $13, $14, $15) ON CONFLICT (site_slug) DO UPDATE SET show_brand = COALESCE(EXCLUDED.show_brand, site_settings.show_brand), show_phone = COALESCE(EXCLUDED.show_phone, site_settings.show_phone), show_whatsapp = COALESCE(EXCLUDED.show_whatsapp, site_settings.show_whatsapp), whatsapp_number = COALESCE(EXCLUDED.whatsapp_number, site_settings.whatsapp_number), footer_text = COALESCE(EXCLUDED.footer_text, site_settings.footer_text), color_scheme = COALESCE(EXCLUDED.color_scheme, site_settings.color_scheme), theme = COALESCE(EXCLUDED.theme, site_settings.theme), custom_css = COALESCE(EXCLUDED.custom_css, site_settings.custom_css), primary_color = COALESCE(EXCLUDED.primary_color, site_settings.primary_color), background_color = COALESCE(EXCLUDED.background_color, site_settings.background_color), accent_color = COALESCE(EXCLUDED.accent_color, site_settings.accent_color), text_color = COALESCE(EXCLUDED.text_color, site_settings.text_color), shadow_color = COALESCE(EXCLUDED.shadow_color, site_settings.shadow_color), border_color = COALESCE(EXCLUDED.border_color, site_settings.border_color), updated_at = NOW() RETURNING *",
        "options": {
          "queryParameters": "={{ $json.sqlValues }}"
        }
      },
      "id": "upsert-settings",
      "name": "💾 PostgreSQL - Upsert Settings",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [680, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Formatar resposta\nconst dbRow = $input.first().json;\n\nconst settings = {\n  siteSlug: dbRow.site_slug,\n  showBrand: dbRow.show_brand ?? true,\n  showPhone: dbRow.show_phone ?? false,\n  showWhatsApp: dbRow.show_whatsapp ?? false,\n  whatsAppNumber: dbRow.whatsapp_number || null,\n  footerText: dbRow.footer_text || null,\n  colorScheme: dbRow.color_scheme || null,\n  theme: dbRow.theme || {},\n  customCSS: dbRow.custom_css || null,\n  primaryColor: dbRow.primary_color || null,\n  backgroundColor: dbRow.background_color || null,\n  accentColor: dbRow.accent_color || null,\n  textColor: dbRow.text_color || null,\n  shadowColor: dbRow.shadow_color || null,\n  borderColor: dbRow.border_color || null,\n  lastUpdated: dbRow.updated_at || dbRow.created_at\n};\n\nreturn {\n  json: {\n    success: true,\n    settings: settings,\n    message: 'Configurações atualizadas com sucesso'\n  }\n};"
      },
      "id": "format-response",
      "name": "📋 Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "responseCode": 200,
        "options": {}
      },
      "id": "respond-webhook",
      "name": "📤 Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook - PUT Settings": {
      "main": [[{ "node": "✅ Validar e Preparar", "type": "main", "index": 0 }]]
    },
    "✅ Validar e Preparar": {
      "main": [[{ "node": "💾 PostgreSQL - Upsert Settings", "type": "main", "index": 0 }]]
    },
    "💾 PostgreSQL - Upsert Settings": {
      "main": [[{ "node": "📋 Format Response", "type": "main", "index": 0 }]]
    },
    "📋 Format Response": {
      "main": [[{ "node": "📤 Respond to Webhook", "type": "main", "index": 0 }]]
    }
  }
}

