BILLING_CHECK_PAYMENT_STATUS.json
{
  "name": "Billing - Check Payment Status",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/billing/check-payment-status",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-check-status",
      "name": "📊 Webhook - Check Payment Status",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [-240, 300],
      "webhookId": "elevea-check-payment-status"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT client_id AS id, site_slug, email, name, plan, status, last_payment, payment_amount, created_at FROM elevea.clients WHERE site_slug = $1 LIMIT 1",
        "options": {
          "queryReplacement": "={{ [$json.body.siteSlug] }}"
        }
      },
      "id": "find-client",
      "name": "🔍 PostgreSQL - Find Client",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [0, 300],
      "credentials": {
        "postgres": {
          "id": "S2Hp22T5AgilJMEy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT payment_id, amount_paid, status, payment_date, created_at FROM elevea.payments WHERE site_slug = $1 AND status = 'approved' ORDER BY payment_date DESC LIMIT 1",
        "options": {
          "queryReplacement": "={{ [$json.body.siteSlug] }}"
        }
      },
      "id": "find-last-payment",
      "name": "💰 PostgreSQL - Find Last Payment",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [240, 300],
      "credentials": {
        "postgres": {
          "id": "S2Hp22T5AgilJMEy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Calcular status de pagamento\nconst out = [];\nfor (const { json } of items) {\n  const client = $('🔍 PostgreSQL - Find Client').item.json.rows?.[0] || {};\n  const lastPayment = json.rows?.[0] || null;\n  \n  if (!client.client_id) {\n    out.push({\n      json: {\n        success: false,\n        code: 404,\n        message: 'Cliente não encontrado',\n        timestamp: new Date().toISOString()\n      }\n    });\n    continue;\n  }\n  \n  // Calcular próximo pagamento (30 dias após último pagamento)\n  let nextPayment = null;\n  let daysUntilPayment = null;\n  let isOverdue = false;\n  let paymentStatus = 'unknown';\n  \n  if (lastPayment && lastPayment.payment_date) {\n    const lastPaymentDate = new Date(lastPayment.payment_date);\n    nextPayment = new Date(lastPaymentDate);\n    nextPayment.setDate(nextPayment.getDate() + 30); // +30 dias\n    \n    const now = new Date();\n    const diffTime = nextPayment - now;\n    daysUntilPayment = Math.ceil(diffTime / (1000 * 60 * 60 * 24));\n    \n    if (daysUntilPayment < 0) {\n      isOverdue = true;\n      paymentStatus = 'overdue';\n    } else if (daysUntilPayment <= 7) {\n      paymentStatus = 'due_soon';\n    } else {\n      paymentStatus = 'paid';\n    }\n  } else {\n    // Sem pagamentos, considerar como não pago\n    paymentStatus = 'unpaid';\n    isOverdue = true;\n  }\n  \n  // Verificar se cliente está bloqueado manualmente\n  const isManuallyBlocked = client.manual_block === true || client.status === 'blocked';\n  \n  out.push({\n    json: {\n      success: true,\n      client: {\n        siteSlug: client.site_slug,\n        email: client.email,\n        name: client.name,\n        plan: client.plan,\n        status: client.status\n      },\n      payment: {\n        lastPayment: lastPayment ? {\n          id: lastPayment.payment_id,\n          amount: Number(lastPayment.amount_paid || 0),\n          date: lastPayment.payment_date,\n          status: lastPayment.status\n        } : null,\n        nextPayment: nextPayment ? nextPayment.toISOString() : null,\n        daysUntilPayment: daysUntilPayment,\n        isOverdue: isOverdue,\n        paymentStatus: paymentStatus\n      },\n      site: {\n        shouldBeActive: !isOverdue && !isManuallyBlocked && client.status === 'active',\n        isManuallyBlocked: isManuallyBlocked,\n        blockReason: client.block_reason\n      },\n      timestamp: new Date().toISOString()\n    }\n  });\n}\nreturn out;"
      },
      "id": "calculate-status",
      "name": "📊 Code - Calculate Payment Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.code || 200 }}"
        }
      },
      "id": "respond-status",
      "name": "📤 Respond - Payment Status",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "📊 Webhook - Check Payment Status": {
      "main": [[{"node": "🔍 PostgreSQL - Find Client", "type": "main", "index": 0}]]
    },
    "🔍 PostgreSQL - Find Client": {
      "main": [[{"node": "💰 PostgreSQL - Find Last Payment", "type": "main", "index": 0}]]
    },
    "💰 PostgreSQL - Find Last Payment": {
      "main": [[{"node": "📊 Code - Calculate Payment Status", "type": "main", "index": 0}]]
    },
    "📊 Code - Calculate Payment Status": {
      "main": [[{"node": "📤 Respond - Payment Status", "type": "main", "index": 0}]]
    }
  }
}







