GOOGLE_AUTH_WORKFLOW_CORRIGIDO.json
{
  "nodes": [
    {
      "parameters": {
        "path": "api/auth/google/start",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://eleveaagencia.netlify.app"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET,POST,OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "id": "8f471903-0dad-4db2-930a-9d964e7d11d8",
      "name": "🔑 Webhook - Auth Start",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        736,
        144
      ],
      "webhookId": "auth-google-start",
      "credentials": {
        "httpHeaderAuth": {
          "id": "IRaf47kuxUtlia50",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "path": "api/auth/google/callback",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://eleveaagencia.netlify.app"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET,POST,OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "id": "2cc5b497-82a4-40e2-ad22-dd303759c2d6",
      "name": "🔑 Webhook - Auth Callback",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        608,
        400
      ],
      "webhookId": "auth-google-callback"
    },
    {
      "parameters": {
        "jsCode": "// Config OAuth - Use variáveis de ambiente do n8n\nreturn [{ json: {\n  oauth: {\n    client_id: process.env.GOOGLE_OAUTH_CLIENT_ID || 'CONFIGURE_NO_N8N',\n    client_secret: process.env.GOOGLE_OAUTH_CLIENT_SECRET || 'CONFIGURE_NO_N8N',\n    redirect_uri: 'https://eleveaagencia.netlify.app/auth/google/callback',\n    scope: 'openid email https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/business.manage',\n    auth_url: 'https://accounts.google.com/o/oauth2/v2/auth',\n    token_url: 'https://oauth2.googleapis.com/token',\n    revoke_url: 'https://oauth2.googleapis.com/revoke'\n  },\n  mergeKey: \"oauth_flow\"\n}}];"
      },
      "id": "a9177994-702a-4b96-8bc3-f094c1a73ea1",
      "name": "⚙️ Code - OAuth Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        -144
      ]
    },
    {
      "parameters": {
        "jsCode": "// Code - Auth Start Normalize + PKCE (SEM code_challenge)\nconst now = () => new Date().toISOString();\nconst trim = v => typeof v === 'string' ? v.trim() : v;\nconst low = v => typeof v === 'string' ? v.toLowerCase() : v;\n\n// Função para gerar code_verifier com comprimento mínimo de 43 caracteres (usando caracteres permitidos pelo PKCE)\nfunction generateVerifier(length = 64) {  // Mínimo 43, usando 64 para mais segurança\n  const chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789-._~';\n  let verifier = '';\n  for (let i = 0; i < length; i++) {\n    verifier += chars[Math.floor(Math.random() * chars.length)];\n  }\n  return verifier;\n}\n\nconst out = [];\nfor (const { json } of items) {\n  const q = json.query || {};\n  const customerId = trim(q.customerId || '');\n  const siteSlug = low(trim(q.siteSlug || ''));\n  if (!customerId || !siteSlug) {\n    out.push({ json: { success:false, error:'customerId e siteSlug são obrigatórios', statusCode:400, timestamp:now(), _preflight:false } });\n    continue;\n  }\n  const nonce = Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15);\n  const codeVerifier = generateVerifier(64);  // Gera verifier válido com 64 caracteres\n  const state = `${customerId}|${siteSlug}|${nonce}`;\n  out.push({\n    json: {\n      success: true,\n      timestamp: now(),\n      customerId,\n      siteSlug,\n      state,\n      nonce,\n      pkceKey: `pkce:${nonce}`,\n      code_verifier: codeVerifier,\n      mergeKey: 'oauth_flow'\n    }\n  });\n}\nreturn out;"
      },
      "id": "85b240ee-a175-4ae7-90f1-8db391c57fd9",
      "name": "🔑 Code - Auth Start Normalize + PKCE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        144
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=={{ 'pkce:' + $json.nonce }}",
        "value": "=={{ $json.code_verifier }}",
        "keyType": "string",
        "expire": true,
        "ttl": 1800
      },
      "id": "0a2e89ad-de45-43d9-9b83-7d8547752052",
      "name": "🧠 Redis - Save PKCE",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2032,
        128
      ],
      "credentials": {
        "redis": {
          "id": "JoofP4Ndui0R2S1g",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Code - Build Auth URL (COM code_challenge CORRETO)\nconst cfg = $json.oauth;\n// Função para escapar parâmetros de URL\nconst encodeParam = (value) => encodeURIComponent(value);\n// Construir parâmetros manualmente\nconst params = [\n  `client_id=${encodeParam(cfg.client_id)}`,\n  `redirect_uri=${encodeParam(cfg.redirect_uri)}`,\n  `scope=${encodeParam(cfg.scope)}`,\n  `response_type=code`,\n  `code_challenge=${encodeParam($json.code_challenge)}`,\n  `code_challenge_method=S256`,\n  `state=${encodeParam($json.state)}`,\n  `access_type=offline`,\n  `prompt=consent`\n].join('&');\nconst authUrl = `${cfg.auth_url}?${params}`;\nreturn [{\n  json: {\n    success: true,\n    authUrl: authUrl,\n    timestamp: new Date().toISOString(),\n    customerId: $json.customerId,\n    siteSlug: $json.siteSlug,\n    state: $json.state,\n    nonce: $json.nonce,\n    pkceKey: $json.pkceKey,\n    code_verifier: $json.code_verifier,\n    code_challenge: $json.code_challenge,\n    mergeKey: $json.mergeKey\n  }\n}];"
      },
      "id": "dc8b1e4d-7bb6-43e3-824b-b952fe11b1f5",
      "name": "🔗 Code - Build Auth URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        128
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "4a9fb4cd-850d-42a1-9af3-df543b2fc76c",
      "name": "📤 Respond - Auth Start",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2480,
        128
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: $json.success, connected: $json.connected, customerId: $json.customerId, siteSlug: $json.siteSlug, expiresAt: $json.expiresAt, hasRefreshToken: $json.hasRefreshToken } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "e6895f63-a8bc-4cfb-9e80-820969d19147",
      "name": "📤 Respond - Auth Callback",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        3280,
        416
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "mergeKey",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1792,
        128
      ],
      "id": "ae8ee228-5677-4b3e-9d92-ded89bb063d5",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Code - Prepare HTTP Token Exchange\n// Prepara dados para HTTP Request de Token Exchange\nconst inputData = $input.all();\n\nif (inputData.length === 0) {\n  return [{\n    json: {\n      success: false,\n      error: 'Nenhum dado de entrada',\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nconst mergedData = inputData[0].json || {};\n\n// Extrair dados do callback\nconst code = mergedData.code || '';\nconst codeVerifier = mergedData.code_verifier || '';\nconst customerId = mergedData.customerId || '';\nconst siteSlug = mergedData.siteSlug || '';\nconst nonce = mergedData.nonce || '';\nconst pkceKey = mergedData.pkceKey || '';\n\n// Validar dados essenciais\nif (!code) {\n  return [{\n    json: {\n      success: false,\n      error: 'code não encontrado',\n      debug: {\n        mergedKeys: Object.keys(mergedData),\n        hasCode: !!mergedData.code\n      },\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nif (!codeVerifier) {\n  return [{\n    json: {\n      success: false,\n      error: 'code_verifier não encontrado',\n      debug: {\n        mergedKeys: Object.keys(mergedData),\n        hasCodeVerifier: !!mergedData.code_verifier\n      },\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Config OAuth\nconst oauth = {\n  token_url: 'https://oauth2.googleapis.com/token',\n  client_id: process.env.GOOGLE_OAUTH_CLIENT_ID || 'CONFIGURE_NO_N8N',\n  client_secret: process.env.GOOGLE_OAUTH_CLIENT_SECRET || 'CONFIGURE_NO_N8N',\n  redirect_uri: 'https://fluxos.eleveaagencia.com.br/webhook/api/auth/google/callback'\n};\n\n// Preparar body para form-urlencoded\nconst bodyParams = {\n  code: code,\n  client_id: oauth.client_id,\n  client_secret: oauth.client_secret,\n  redirect_uri: oauth.redirect_uri,\n  grant_type: 'authorization_code',\n  code_verifier: codeVerifier\n};\n\n// Retornar estrutura EXATA que o HTTP Request precisa\nreturn [{\n  json: {\n    // URL para o HTTP Request usar\n    url: oauth.token_url,\n    token_url: oauth.token_url, // fallback\n    \n    // Body parameters (o HTTP Request vai usar $json.body.code, etc.)\n    body: bodyParams,\n    \n    // Preservar metadados para depois do HTTP Request\n    customerId: customerId,\n    siteSlug: siteSlug,\n    nonce: nonce,\n    pkceKey: pkceKey,\n    code: code, // preservar também\n    code_verifier: codeVerifier, // preservar também\n    \n    // Timestamp\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        416
      ],
      "id": "74b5e0e8-3678-4e40-8bb8-feda38f53c94",
      "name": "Code - Prepare HTTP Token Exchange"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO elevea.google_credentials (\ncustomer_id,\nsite_slug,\nscopes,\nstatus,\naccess_token,\ntoken_type,\nrefresh_token,\nexpires_at\n) VALUES (\n$1,\n$2,\n$3,\n$4,\nNULLIF($5, ''),\nCOALESCE($6, 'Bearer'),\nNULLIF($7, ''),\nTO_TIMESTAMP($8::numeric / 1000)\n)\nON CONFLICT (customer_id, site_slug) DO UPDATE SET\nscopes = EXCLUDED.scopes,\nstatus = EXCLUDED.status,\naccess_token = EXCLUDED.access_token,\ntoken_type = EXCLUDED.token_type,\nrefresh_token = COALESCE(EXCLUDED.refresh_token, google_credentials.refresh_token),\nexpires_at = EXCLUDED.expires_at,\nupdated_at = NOW()\nRETURNING customer_id, site_slug, status, refresh_token, expires_at",
        "options": {
          "queryReplacement": "=$1 → {{$json.customer_id}}\n$2 → {{$json.site_slug}}\n$3 → {{$json.scopes || ''}}\n$4 → {{$json.status || 'active'}}\n$5 → {{$json.access_token}}\n$6 → {{$json.token_type || 'Bearer'}}\n$7 → {{$json.refresh_token || ''}}\n$8 → {{$json.expires_at}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2864,
        416
      ],
      "id": "655cd5ee-af30-418b-9828-e6fbab36735d",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "S2Hp22T5AgilJMEy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Code - Auth Callback Normalize\nconst now = () => new Date().toISOString();\nconst trim = v => typeof v === 'string' ? v.trim() : v;\nconst low = v => typeof v === 'string' ? v.toLowerCase() : v;\n\nconst out = [];\n\nfor (const {json} of items) {\n  const headers = Object.fromEntries(\n    Object.entries(json.headers || {}).map(([k, v]) => [k.toLowerCase(), v])\n  );\n  const method = (json.req?.method || json.method || '').toUpperCase();\n \n  // Handle preflight requests\n  if (method === 'OPTIONS' || headers['access-control-request-method']) {\n    out.push({json: {_preflight: true}});\n    continue;\n  }\n \n  // Extract parameters from query\n  const q = json.query || {};\n  const code = trim(q.code || '');\n  const rawState = trim(q.state || '');\n  const error = trim(q.error || '');\n\n  // DECODE O STATE (Google envia com %7C, %3A, etc.)\n  const state = decodeURIComponent(rawState);\n\n  // DEBUG: Mostra o que chegou\n  console.log('DEBUG STATE:', { rawState, decodedState: state });\n\n  // Handle OAuth errors from Google\n  if (error) {\n    out.push({\n      json: {\n        success: false,\n        error: `OAuth error from Google: ${error}`,\n        errorDescription: trim(q.error_description || ''),\n        statusCode: 400,\n        timestamp: now(),\n        _preflight: false\n      }\n    });\n    continue;\n  }\n \n  // Validate required parameters\n  if (!code || !rawState) {\n    out.push({\n      json: {\n        success: false,\n        error: 'code e state são obrigatórios',\n        statusCode: 400,\n        timestamp: now(),\n        _preflight: false,\n        debug: {\n          receivedCode: !!code,\n          receivedState: !!rawState,\n          query: q\n        }\n      }\n    });\n    continue;\n  }\n \n  // Parse state (customerId|siteSlug|nonce) → COM SPLIT\n  const stateParts = state.split('|');\n  if (stateParts.length !== 3) {\n    out.push({\n      json: {\n        success: false,\n        error: 'state inválido - formato esperado: customerId|siteSlug|nonce',\n        statusCode: 400,\n        timestamp: now(),\n        _preflight: false,\n        debug: { \n          rawState, \n          decodedState: state,\n          stateParts \n        }\n      }\n    });\n    continue;\n  }\n \n  const [customerId, siteSlug, nonce] = stateParts;\n \n  // Generate Redis key for PKCE lookup\n  const pkceKey = `pkce:${trim(nonce)}`;\n \n  // DEBUG: Mostra o que será usado no Redis\n  console.log('DEBUG PKCE LOOKUP:', { nonce: trim(nonce), pkceKey });\n\n  out.push({\n    json: {\n      success: true,\n      code: code,\n      state: rawState,\n      decodedState: state,\n      customerId: trim(customerId),\n      siteSlug: low(trim(siteSlug)),\n      nonce: trim(nonce),\n      pkceKey: pkceKey,\n      _preflight: false,\n      timestamp: now()\n    }\n  });\n}\n\nreturn out;"
      },
      "id": "42422064-64b5-4558-b965-dbf7b2b02bb5",
      "name": "Code - Auth Callback Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Code - Attach Verifier\n// Anexa o code_verifier aos dados do callback\nreturn items.map(({ json = {}, ...rest }) => {\n  // Se já tiver code_verifier, preserva\n  if (typeof json.code_verifier === 'string' && json.code_verifier.trim()) {\n    return { json, ...rest };\n  }\n\n  // Tentar extrair de múltiplas fontes\n  let raw = json.pkce || json.value || json?.parameters?.pkce || null;\n\n  // Se veio como objeto { code_verifier }\n  if (raw && typeof raw === 'object') {\n    raw = raw.code_verifier || raw.value || null;\n  }\n\n  // Normalizar para string e remover '=' e espaços à esquerda\n  let verifier = raw == null ? null : String(raw).trim().replace(/^[=\\s]+/, '');\n\n  return { \n    json: { \n      ...json, \n      code_verifier: verifier \n    }, \n    ...rest \n  };\n});"
      },
      "id": "22af0135-6fa3-4feb-946c-f808316d1f6a",
      "name": "Code - Attach Verifier",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        416
      ]
    },
    {
      "parameters": {
        "jsCode": "// Code - Shape Token Row (CORRIGIDO - Garantir todos os campos necessários)\nconst now = Date.now();\n\n// Pegar dados do Code - Process HTTP Token Response\nconst inputData = $input.all();\n\nif (inputData.length === 0) {\n  return [{\n    json: {\n      success: false,\n      error: 'Nenhum dado recebido do Code - Process HTTP Token Response',\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Dados processados (já devem ter todos os campos)\nconst processedData = inputData[0].json || {};\n\nconsole.log('=== DEBUG SHAPE TOKEN ROW ===');\nconsole.log('Processed data keys:', Object.keys(processedData));\nconsole.log('Has access_token:', !!processedData.access_token);\nconsole.log('Has refresh_token:', !!processedData.refresh_token);\nconsole.log('Has customerId:', !!processedData.customerId);\nconsole.log('Has siteSlug:', !!processedData.siteSlug);\nconsole.log('==============================');\n\n// Extrair dados\nconst customerId = processedData.customerId || '';\nconst siteSlug = processedData.siteSlug || '';\nconst access_token = processedData.access_token || '';\nconst refresh_token = processedData.refresh_token || '';\nconst scopes = processedData.scope || processedData.scopes || '';\nconst token_type = processedData.token_type || 'Bearer';\nconst expires_in = Number(processedData.expires_in || 3600);\nconst expires_at = processedData.expires_at || (now + (expires_in * 1000));\nconst nonce = processedData.nonce || '';\nconst pkceKey = processedData.pkceKey || '';\n\n// Validar dados essenciais ANTES de retornar\nif (!access_token) {\n  return [{\n    json: {\n      success: false,\n      error: 'access_token não encontrado',\n      debug: {\n        hasAccessToken: !!processedData.access_token,\n        processedKeys: Object.keys(processedData)\n      },\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nif (!customerId || !siteSlug) {\n  return [{\n    json: {\n      success: false,\n      error: 'customerId ou siteSlug não encontrados',\n      debug: {\n        customerId: customerId,\n        siteSlug: siteSlug,\n        processedKeys: Object.keys(processedData)\n      },\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Retornar dados no formato EXATO que o PostgreSQL espera\nreturn [{\n  json: {\n    customer_id: String(customerId),\n    site_slug: String(siteSlug),\n    scopes: String(scopes || ''),\n    status: 'active',\n    access_token: String(access_token),\n    token_type: String(token_type || 'Bearer'),\n    refresh_token: String(refresh_token || ''),\n    expires_at: Number(expires_at),\n    created_at: now,\n    nonce: String(nonce || ''),\n    pkce_key: String(pkceKey || '')\n  }\n}];"
      },
      "id": "554beee3-ba8f-47bb-9fa9-51b126024f4d",
      "name": "Code - Shape Token Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2624,
        416
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "pkce",
        "key": "=={{ 'pkce:' + $json.nonce }}",
        "keyType": "string",
        "options": {
          "dotNotation": true
        }
      },
      "id": "eb727abd-9ed9-41cf-9459-eaf9d4d20755",
      "name": "Redis - Get PKCE",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1104,
        560
      ],
      "credentials": {
        "redis": {
          "id": "JoofP4Ndui0R2S1g",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "nonce",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1504,
        416
      ],
      "id": "1cb44bcf-6392-4b6a-bbee-452f62c5d21e",
      "name": "Merge1"
    },
    {
      "parameters": {
        "type": "SHA256",
        "value": "={{$json.code_verifier}}",
        "encoding": "base64"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        1168,
        144
      ],
      "id": "353e4ad5-02d1-4d9b-8baf-a215d4c1f387",
      "name": "Crypto"
    },
    {
      "parameters": {
        "jsCode": "// Code - Base64URL Converter\nconst b64 = $json.data || $json.hash || '';\nconst b64url = b64.replace(/\\+/g,'-').replace(/\\//g,'_').replace(/=+$/,'');\n\nreturn [{\n  json: {\n    ...$json,\n    code_challenge: b64url\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        144
      ],
      "id": "0fcf0ddf-37f8-4082-b180-853d49b04c2b",
      "name": "Code - Base64URL"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "609d8c11-4bad-4a94-ad32-d87d0339a9a6",
              "name": "pkce",
              "value": "={{ $json.pkce }}",
              "type": "string"
            },
            {
              "id": "1a22b274-e905-4877-b815-076afe599583",
              "name": "nonce",
              "value": "={{ $node[\"Code - Auth Callback Normalize\"].json.nonce }}",
              "type": "string"
            },
            {
              "id": "fcc6d03a-5c4a-43e7-bab9-21e9f805f003",
              "name": "pkceKey",
              "value": "={{ $node[\"Code - Auth Callback Normalize\"].json.pkceKey }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1296,
        560
      ],
      "id": "07fb9ad1-007e-447e-9036-07c24cc9f4e2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.url || $json.token_url}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "code",
              "value": "={{$json.body.code}}"
            },
            {
              "name": "client_id",
              "value": "={{$json.body.client_id}}"
            },
            {
              "name": "client_secret",
              "value": "={{$json.body.client_secret}}"
            },
            {
              "name": "redirect_uri",
              "value": "={{$json.body.redirect_uri}}"
            },
            {
              "name": "grant_type",
              "value": "={{$json.body.grant_type}}"
            },
            {
              "name": "code_verifier",
              "value": "={{$json.body.code_verifier}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2144,
        416
      ],
      "id": "7b6a9bba-7965-456c-ad37-4ab249887958",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Code - Process HTTP Token Response (CORRIGIDO)\n// O access_token está em httpResponse.body.access_token, não em httpResponse.access_token\n\nconst inputData = $input.all();\n\nif (inputData.length === 0) {\n  return [{\n    json: {\n      success: false,\n      error: 'Nenhuma resposta HTTP recebida',\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Pegar resposta HTTP (vem do HTTP Request node)\nconst httpResponse = inputData[0].json || {};\nconst httpStatus = inputData[0].statusCode || inputData[0].status || null;\nconst httpHeaders = inputData[0].headers || {};\n\nconsole.log('=== DEBUG PROCESS HTTP TOKEN RESPONSE ===');\nconsole.log('HTTP Status:', httpStatus);\nconsole.log('Response keys:', Object.keys(httpResponse));\nconsole.log('Has body:', !!httpResponse.body);\nconsole.log('Body keys:', httpResponse.body ? Object.keys(httpResponse.body) : 'NO BODY');\nconsole.log('Has access_token in body:', !!httpResponse.body?.access_token);\nconsole.log('==============================');\n\n// Verificar se há erro do Google (pode estar em body ou root)\nif (httpResponse.error || httpResponse.body?.error) {\n  const error = httpResponse.error || httpResponse.body?.error;\n  return [{\n    json: {\n      success: false,\n      error: error,\n      error_description: httpResponse.error_description || httpResponse.body?.error_description,\n      error_uri: httpResponse.error_uri || httpResponse.body?.error_uri,\n      http_status: httpStatus,\n      headers: httpHeaders,\n      raw_response: httpResponse\n    }\n  }];\n}\n\n// CORREÇÃO: Extrair tokens de httpResponse.body (onde o Google retorna)\nlet access_token = '';\nlet token_type = 'Bearer';\nlet scope = '';\nlet expires_in = 3600;\nlet refresh_token = '';\nlet id_token = '';\n\nif (httpResponse.body) {\n  access_token = httpResponse.body.access_token || '';\n  token_type = httpResponse.body.token_type || 'Bearer';\n  scope = httpResponse.body.scope || httpResponse.body.scopes || '';\n  expires_in = Number(httpResponse.body.expires_in || 3600);\n  refresh_token = httpResponse.body.refresh_token || '';\n  id_token = httpResponse.body.id_token || '';\n} else {\n  // Fallback: tentar do root (caso o body já tenha sido extraído)\n  access_token = httpResponse.access_token || '';\n  token_type = httpResponse.token_type || 'Bearer';\n  scope = httpResponse.scope || httpResponse.scopes || '';\n  expires_in = Number(httpResponse.expires_in || 3600);\n  refresh_token = httpResponse.refresh_token || '';\n  id_token = httpResponse.id_token || '';\n}\n\n// Calcular expires_at\nconst expires_at = Date.now() + (expires_in * 1000);\n\nif (!access_token) {\n  return [{\n    json: {\n      success: false,\n      error: 'access_token não encontrado na resposta',\n      http_status: httpStatus,\n      debug_response: httpResponse,\n      headers: httpHeaders,\n      debug: {\n        hasBody: !!httpResponse.body,\n        bodyKeys: httpResponse.body ? Object.keys(httpResponse.body) : [],\n        rootKeys: Object.keys(httpResponse)\n      }\n    }\n  }];\n}\n\n// Buscar dados preservados do Code - Prepare HTTP Token Exchange\nlet customerId = '';\nlet siteSlug = '';\nlet nonce = '';\nlet pkceKey = '';\n\ntry {\n  const prepareData = $('Code - Prepare HTTP Token Exchange').all();\n  if (prepareData && prepareData.length > 0) {\n    customerId = prepareData[0].json?.customerId || '';\n    siteSlug = prepareData[0].json?.siteSlug || '';\n    nonce = prepareData[0].json?.nonce || '';\n    pkceKey = prepareData[0].json?.pkceKey || '';\n  }\n} catch (e) {\n  console.log('Não foi possível buscar dados preservados:', e.message);\n}\n\n// Retornar tokens processados + dados preservados\nreturn [{\n  json: {\n    success: true,\n    access_token: access_token,\n    token_type: token_type,\n    scope: scope,\n    scopes: scope,\n    expires_in: expires_in,\n    expires_at: expires_at,\n    refresh_token: refresh_token,\n    id_token: id_token,\n    http_status: httpStatus,\n    headers: httpHeaders,\n    // Dados preservados\n    customerId: customerId,\n    siteSlug: siteSlug,\n    nonce: nonce,\n    pkceKey: pkceKey\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2384,
        416
      ],
      "id": "6c7fea81-7629-42cf-a528-f45e688802c2",
      "name": "Code - Process HTTP Token Response"
    },
    {
      "parameters": {
        "jsCode": "// Code - Format Callback Response\nconst inputData = $input.all();\n\nif (inputData.length === 0) {\n  return [{\n    json: {\n      success: false,\n      error: 'Nenhum dado recebido'\n    }\n  }];\n}\n\nconst sqlResult = inputData[0].json || {};\n\nreturn [{\n  json: {\n    success: true,\n    connected: true,\n    customerId: sqlResult.customer_id || '',\n    siteSlug: sqlResult.site_slug || '',\n    expiresAt: sqlResult.expires_at ? new Date(sqlResult.expires_at).toISOString() : null,\n    hasRefreshToken: !!(sqlResult.refresh_token && sqlResult.refresh_token.trim())\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3072,
        416
      ],
      "id": "71be023a-b99b-4f35-aef7-4cd286c0a483",
      "name": "Code - Format Callback Response"
    }
  ],
  "connections": {
    "🔑 Webhook - Auth Start": {
      "main": [
        [
          {
            "node": "🔑 Code - Auth Start Normalize + PKCE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔑 Webhook - Auth Callback": {
      "main": [
        [
          {
            "node": "Code - Auth Callback Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Code - OAuth Config": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔑 Code - Auth Start Normalize + PKCE": {
      "main": [
        [
          {
            "node": "⚙️ Code - OAuth Config",
            "type": "main",
            "index": 0
          },
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Redis - Save PKCE": {
      "main": [
        [
          {
            "node": "🔗 Code - Build Auth URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Code - Build Auth URL": {
      "main": [
        [
          {
            "node": "📤 Respond - Auth Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "🧠 Redis - Save PKCE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Prepare HTTP Token Exchange": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Code - Format Callback Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Auth Callback Normalize": {
      "main": [
        [
          {
            "node": "Redis - Get PKCE",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Attach Verifier": {
      "main": [
        [
          {
            "node": "Code - Prepare HTTP Token Exchange",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Shape Token Row": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis - Get PKCE": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code - Attach Verifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto": {
      "main": [
        [
          {
            "node": "Code - Base64URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Base64URL": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code - Process HTTP Token Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Process HTTP Token Response": {
      "main": [
        [
          {
            "node": "Code - Shape Token Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Format Callback Response": {
      "main": [
        [
          {
            "node": "📤 Respond - Auth Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c54d95e1e8c78b0647a47bf20abbc07d803d84dc24a093f032b7c48ff894b672"
  }
}

