N8N_DISCONNECT_WORKFLOW_COMPLETO.json
{
  "name": "WhatsApp - Auth Disconnect",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/whatsapp/auth/disconnect",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://eleveaagencia.netlify.app"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, X-APP-KEY"
              }
            ]
          }
        }
      },
      "id": "webhook-disconnect",
      "name": "🔗 Webhook - Auth Disconnect",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-192, -48],
      "webhookId": "whatsapp-auth-disconnect"
    },
    {
      "parameters": {
        "jsCode": "// Code - Normalize Disconnect Input\nconst now = () => new Date().toISOString();\nconst trim = v => typeof v === 'string' ? v.trim() : v;\nconst low = v => typeof v === 'string' ? v.toLowerCase() : v;\n\nconst out = [];\nfor (const {json} of items) {\n  const headers = Object.fromEntries(Object.entries(json.headers || {}).map(([k, v]) => [k.toLowerCase(), v]));\n  const method = (json.req?.method || json.method || '').toUpperCase();\n  \n  if (method === 'OPTIONS' || headers['access-control-request-method']) {\n    out.push({json: {_preflight: true}});\n    continue;\n  }\n  \n  let b = json.body || {};\n  if (typeof b === 'string') {\n    try { b = JSON.parse(b); } catch { b = {}; }\n  }\n  \n  const siteSlug = low(trim(b.siteSlug || b.site_slug || ''));\n  const customerId = trim(b.customerId || b.customer_id || b.userEmail || '');\n  \n  if (!siteSlug || !customerId) {\n    out.push({\n      json: {\n        success: false,\n        ok: false,\n        error: 'siteSlug e customerId são obrigatórios',\n        statusCode: 400,\n        timestamp: now(),\n        _preflight: false\n      }\n    });\n    continue;\n  }\n  \n  out.push({\n    json: {\n      customer_id: customerId,\n      site_slug: siteSlug,\n      _preflight: false\n    }\n  });\n}\nreturn out;"
      },
      "id": "code-normalize-disconnect",
      "name": "📝 Code - Normalize Disconnect",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [32, -48]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  uazapi_instance_id,\n  uazapi_token,\n  customer_id,\n  site_slug\nFROM elevea.whatsapp_credentials\nWHERE customer_id = $1 \n  AND site_slug = $2 \n  AND status = 'active'\nLIMIT 1;",
        "options": {
          "queryReplacement": "=$1 → {{$json.customer_id}}\n$2 → {{$json.site_slug}}"
        }
      },
      "id": "postgres-get-credentials",
      "name": "🗄️ PostgreSQL - Get Credentials",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [256, -48],
      "credentials": {
        "postgres": {
          "id": "S2Hp22T5AgilJMEy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-instance",
              "leftValue": "={{ $json.uazapi_instance_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-instance",
      "name": "🔀 IF - Has Instance",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, -48]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "https://elevea.uazapi.com/instance/delete/{{ $json.uazapi_instance_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $json.uazapi_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": false,
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "http-delete-instance",
      "name": "🌐 HTTP - Delete Instance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [688, -48],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE elevea.whatsapp_credentials\nSET \n  uazapi_instance_id = NULL,\n  uazapi_token = NULL,\n  uazapi_qr_code = NULL,\n  uazapi_status = 'disconnected',\n  status = 'inactive',\n  updated_at = NOW()\nWHERE customer_id = $1 \n  AND site_slug = $2\nRETURNING customer_id, site_slug, uazapi_status;",
        "options": {
          "queryReplacement": "=$1 → {{$json.customer_id}}\n$2 → {{$json.site_slug}}"
        }
      },
      "id": "postgres-update-status",
      "name": "🗄️ PostgreSQL - Update Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [896, -48],
      "credentials": {
        "postgres": {
          "id": "S2Hp22T5AgilJMEy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, ok: true, message: 'WhatsApp desconectado com sucesso' } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://eleveaagencia.netlify.app"
              }
            ]
          }
        }
      },
      "id": "respond-disconnect",
      "name": "📤 Respond - Disconnect",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1104, -48]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, ok: false, error: 'Nenhuma instância encontrada para desconectar' } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://eleveaagencia.netlify.app"
              }
            ]
          }
        }
      },
      "id": "respond-no-instance",
      "name": "📤 Respond - No Instance",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [480, 96]
    }
  ],
  "connections": {
    "🔗 Webhook - Auth Disconnect": {
      "main": [
        [
          {
            "node": "📝 Code - Normalize Disconnect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Code - Normalize Disconnect": {
      "main": [
        [
          {
            "node": "🗄️ PostgreSQL - Get Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🗄️ PostgreSQL - Get Credentials": {
      "main": [
        [
          {
            "node": "🔀 IF - Has Instance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 IF - Has Instance": {
      "main": [
        [
          {
            "node": "🌐 HTTP - Delete Instance",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📤 Respond - No Instance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 HTTP - Delete Instance": {
      "main": [
        [
          {
            "node": "🗄️ PostgreSQL - Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🗄️ PostgreSQL - Update Status": {
      "main": [
        [
          {
            "node": "📤 Respond - Disconnect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  }
}

