N8N_CHATWOOT_SYNC_WORKFLOW_JSON.json
{
  "name": "WhatsApp - Sync Chatwoot IDs",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Buscar todos os clientes ativos que têm WhatsApp configurado\nreturn [{\n  json: {\n    customer_id: 'mathmartins@gmail.com',\n    site_slug: 'elevea',\n    limit: 10\n  }\n}];"
      },
      "id": "get-active-customers",
      "name": "Code - Get Active Customers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-batches-customers",
      "name": "Split In Batches - Customers",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  message_id,\n  customer_id,\n  site_slug,\n  phone_number,\n  message,\n  message_text,\n  direction,\n  message_type,\n  timestamp,\n  uazapi_instance_id,\n  chatwoot_contact_id,\n  chatwoot_conversation_id,\n  chatwoot_message_id\nFROM elevea.whatsapp_messages\nWHERE customer_id = $1 \n  AND site_slug = $2\n  AND (\n    chatwoot_contact_id IS NULL \n    OR chatwoot_conversation_id IS NULL \n    OR chatwoot_message_id IS NULL\n  )\n  AND direction = 'outbound'\nORDER BY timestamp DESC\nLIMIT 10",
        "options": {
          "queryReplacement": "$1 → {{$json.customer_id}}\n$2 → {{$json.site_slug}}"
        }
      },
      "id": "get-messages-without-chatwoot",
      "name": "PostgreSQL - Get Messages Without Chatwoot IDs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [850, 300],
      "credentials": {
        "postgres": {
          "id": "S2Hp22T5AgilJMEy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-batches-messages",
      "name": "Split In Batches - Messages",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  customer_id,\n  site_slug,\n  chatwoot_base_url,\n  chatwoot_access_token,\n  chatwoot_account_id,\n  chatwoot_inbox_id\nFROM elevea.whatsapp_credentials\nWHERE customer_id = $1 AND site_slug = $2 AND status = 'active'\nLIMIT 1",
        "options": {
          "queryReplacement": "$1 → {{$json.customer_id}}\n$2 → {{$json.site_slug}}"
        }
      },
      "id": "get-chatwoot-credentials",
      "name": "PostgreSQL - Get Chatwoot Credentials",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1250, 300],
      "credentials": {
        "postgres": {
          "id": "S2Hp22T5AgilJMEy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pegar a mensagem atual (vem do Split In Batches - Messages)\nconst message = $input.all()[0].json || {};\n// Pegar as credenciais do PostgreSQL (já filtradas por customer_id e site_slug)\nconst creds = $('PostgreSQL - Get Chatwoot Credentials').all()[0]?.json || {};\n\n// Garantir que phone_number existe e está formatado\nlet phoneNumber = message.phone_number || message.phone || '';\n\n// Remover espaços e caracteres especiais\nphoneNumber = phoneNumber.trim();\n\n// Se ainda estiver vazio, tentar usar message_id como fallback\nif (!phoneNumber && message.message_id) {\n  phoneNumber = `msg_${message.message_id}`;\n}\n\n// Se ainda estiver vazio, usar um ID único baseado em timestamp\nif (!phoneNumber) {\n  phoneNumber = `unknown_${Date.now()}`;\n}\n\n// Mesclar dados da mensagem com as credenciais\nreturn [{\n  json: {\n    ...message,\n    ...creds,\n    phone_number: phoneNumber, // Garantir que sempre existe e não está vazio\n    _has_phone: !!message.phone_number || !!message.phone // Flag para indicar se tinha phone original\n  }\n}];"
      },
      "id": "merge-data",
      "name": "Code - Merge Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.chatwoot_account_id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "condition-2",
              "leftValue": "={{ $json.chatwoot_inbox_id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "condition-3",
              "leftValue": "={{ $json.chatwoot_access_token }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-chatwoot-config",
      "name": "IF - Has Chatwoot Config",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.chatwoot_base_url }}/api/v1/accounts/{{ $json.chatwoot_account_id }}/contacts",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api_access_token",
              "value": "={{ $json.chatwoot_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"source_id\": \"{{ $json.phone_number }}\",\n  \"name\": \"{{ $json.phone_number }}\",\n  \"identifier\": \"{{ $json.phone_number }}\"\n}",
        "options": {
          "continueOnFail": true
        }
      },
      "id": "create-chatwoot-contact",
      "name": "HTTP - Create or Get Chatwoot Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1850, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "chatwoot-header-auth",
          "name": "Chatwoot Header Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extrair contact_id da resposta do Chatwoot\nconst inputItem = $input.all()[0] || {};\nconst response = inputItem.json || {};\n\n// Tentar extrair o contact_id de várias possíveis estruturas de resposta\nlet contactId = null;\n\n// Verificar se a resposta tem erro primeiro\nif (response.error || response.message) {\n  console.error('Erro na resposta do Chatwoot:', response.error || response.message);\n  // Continuar mesmo com erro, tentando extrair ID se existir\n}\n\n// Tentar diferentes caminhos para encontrar o contact_id\n// PRIORIDADE 1: payload.contact.id (estrutura padrão do Chatwoot)\nif (response.payload?.contact?.id) {\n  contactId = response.payload.contact.id;\n} else if (response.id) {\n  contactId = response.id;\n} else if (response.payload?.id) {\n  contactId = response.payload.id;\n} else if (response.body?.id) {\n  contactId = response.body.id;\n} else if (response.payload?.payload?.id) {\n  contactId = response.payload.payload.id;\n} else if (response.data?.id) {\n  contactId = response.data.id;\n} else if (response.payload?.contact_inbox?.contact_id) {\n  contactId = response.payload.contact_inbox.contact_id;\n}\n\n// Se não encontrou, manter o existente ou null\nif (!contactId && response.chatwoot_contact_id) {\n  contactId = response.chatwoot_contact_id;\n}\n\n// Preservar todos os dados anteriores (do merge anterior)\nconst previousData = $('Code - Merge Data').all()[0]?.json || {};\n\nreturn [{\n  json: {\n    ...previousData,\n    ...response,\n    chatwoot_contact_id: contactId\n  }\n}];"
      },
      "id": "extract-contact-id",
      "name": "Code - Extract Contact ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2050, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.chatwoot_base_url }}/api/v1/accounts/{{ $json.chatwoot_account_id }}/conversations",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api_access_token",
              "value": "={{ $json.chatwoot_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"source_id\": \"{{ $json.chatwoot_contact_id }}\",\n  \"inbox_id\": {{ $json.chatwoot_inbox_id }},\n  \"contact_id\": {{ $json.chatwoot_contact_id }}\n}",
        "options": {
          "continueOnFail": true
        }
      },
      "id": "create-chatwoot-conversation",
      "name": "HTTP - Create or Get Chatwoot Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2250, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "chatwoot-header-auth",
          "name": "Chatwoot Header Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extrair conversation_id da resposta do Chatwoot\nconst inputItem = $input.all()[0] || {};\nconst response = inputItem.json || {};\n\n// Preservar todos os dados anteriores (do nó Extract Contact ID)\nconst previousData = $('Code - Extract Contact ID').all()[0]?.json || {};\n\n// Tentar extrair o conversation_id de várias possíveis estruturas\nlet conversationId = null;\n\n// PRIORIDADE 1: response.id (estrutura padrão do Chatwoot)\nif (response.id) {\n  conversationId = response.id;\n} else if (response.payload?.id) {\n  conversationId = response.payload.id;\n} else if (response.body?.id) {\n  conversationId = response.body.id;\n} else if (response.payload?.payload?.id) {\n  conversationId = response.payload.payload.id;\n} else if (response.data?.id) {\n  conversationId = response.data.id;\n} else if (previousData.chatwoot_conversation_id) {\n  conversationId = previousData.chatwoot_conversation_id;\n}\n\n// Mesclar dados anteriores com a resposta e adicionar conversation_id\nreturn [{\n  json: {\n    ...previousData,\n    ...response,\n    chatwoot_conversation_id: conversationId\n  }\n}];"
      },
      "id": "extract-conversation-id",
      "name": "Code - Extract Conversation ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2450, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.chatwoot_base_url }}/api/v1/accounts/{{ $json.chatwoot_account_id }}/conversations/{{ $json.chatwoot_conversation_id }}/messages",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api_access_token",
              "value": "={{ $json.chatwoot_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"{{ $json.message }}\",\n  \"message_type\": \"outgoing\",\n  \"private\": false\n}",
        "options": {
          "continueOnFail": true
        }
      },
      "id": "send-message-to-chatwoot",
      "name": "HTTP - Send Message to Chatwoot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2650, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "chatwoot-header-auth",
          "name": "Chatwoot Header Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extrair chatwoot_message_id da resposta do Chatwoot\nconst inputItem = $input.all()[0] || {};\nconst chatwootResponse = inputItem.json || {};\n\n// Preservar todos os dados anteriores (do nó Extract Conversation ID)\nconst previousData = $('Code - Extract Conversation ID').all()[0]?.json || {};\n\n// Tentar extrair o message_id do Chatwoot\nlet chatwootMessageId = null;\n\n// PRIORIDADE 1: response.id (estrutura padrão do Chatwoot)\nif (chatwootResponse.id) {\n  chatwootMessageId = chatwootResponse.id;\n} else if (chatwootResponse.payload?.id) {\n  chatwootMessageId = chatwootResponse.payload.id;\n} else if (chatwootResponse.body?.id) {\n  chatwootMessageId = chatwootResponse.body.id;\n} else if (chatwootResponse.payload?.payload?.id) {\n  chatwootMessageId = chatwootResponse.payload.payload.id;\n} else if (previousData.chatwoot_message_id) {\n  chatwootMessageId = previousData.chatwoot_message_id;\n}\n\n// Mesclar dados anteriores com a resposta e adicionar chatwoot_message_id\nreturn [{\n  json: {\n    ...previousData,\n    ...chatwootResponse,\n    chatwoot_message_id: chatwootMessageId\n  }\n}];"
      },
      "id": "extract-chatwoot-message-id",
      "name": "Code - Extract Chatwoot Message ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2850, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE elevea.whatsapp_messages\nSET \n  chatwoot_contact_id = COALESCE($1, chatwoot_contact_id),\n  chatwoot_conversation_id = COALESCE($2, chatwoot_conversation_id),\n  chatwoot_message_id = COALESCE($3, chatwoot_message_id),\n  updated_at = NOW()\nWHERE message_id = $4\nRETURNING message_id, chatwoot_contact_id, chatwoot_conversation_id, chatwoot_message_id;",
        "options": {
          "queryReplacement": "$1 → {{$json.chatwoot_contact_id || null}}\n$2 → {{$json.chatwoot_conversation_id || null}}\n$3 → {{$json.chatwoot_message_id || null}}\n$4 → {{$json.message_id}}"
        }
      },
      "id": "update-message-with-chatwoot-ids",
      "name": "PostgreSQL - Update Message with Chatwoot IDs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [3050, 200],
      "credentials": {
        "postgres": {
          "id": "S2Hp22T5AgilJMEy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all()[0].json || {};\n\nconsole.log('✅ Mensagem sincronizada:', {\n  message_id: data.message_id,\n  chatwoot_contact_id: data.chatwoot_contact_id,\n  chatwoot_conversation_id: data.chatwoot_conversation_id,\n  chatwoot_message_id: data.chatwoot_message_id\n});\n\nreturn [{ json: data }];"
      },
      "id": "log-success",
      "name": "Code - Log Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3250, 200]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code - Get Active Customers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Get Active Customers": {
      "main": [
        [
          {
            "node": "Split In Batches - Customers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches - Customers": {
      "main": [
        [
          {
            "node": "PostgreSQL - Get Messages Without Chatwoot IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Get Messages Without Chatwoot IDs": {
      "main": [
        [
          {
            "node": "Split In Batches - Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches - Messages": {
      "main": [
        [
          {
            "node": "PostgreSQL - Get Chatwoot Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Get Chatwoot Credentials": {
      "main": [
        [
          {
            "node": "Code - Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Merge Data": {
      "main": [
        [
          {
            "node": "IF - Has Chatwoot Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Has Chatwoot Config": {
      "main": [
        [
          {
            "node": "HTTP - Create or Get Chatwoot Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Create or Get Chatwoot Contact": {
      "main": [
        [
          {
            "node": "Code - Extract Contact ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Extract Contact ID": {
      "main": [
        [
          {
            "node": "HTTP - Create or Get Chatwoot Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Create or Get Chatwoot Conversation": {
      "main": [
        [
          {
            "node": "Code - Extract Conversation ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Extract Conversation ID": {
      "main": [
        [
          {
            "node": "HTTP - Send Message to Chatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Send Message to Chatwoot": {
      "main": [
        [
          {
            "node": "Code - Extract Chatwoot Message ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Extract Chatwoot Message ID": {
      "main": [
        [
          {
            "node": "PostgreSQL - Update Message with Chatwoot IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Update Message with Chatwoot IDs": {
      "main": [
        [
          {
            "node": "Code - Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-11T05:00:00.000Z",
  "versionId": "1"
}

