N8N_CHATWOOT_SYNC_IMPORT.json
{
  "name": "WhatsApp - Sync Chatwoot IDs",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    customer_id: 'mathmartins@gmail.com',\n    site_slug: 'elevea',\n    limit: 10\n  }\n}];"
      },
      "id": "get-active-customers",
      "name": "Code - Get Active Customers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-batches-customers",
      "name": "Split In Batches - Customers",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, message_id, customer_id, site_slug, phone_number, message, message_text, direction, message_type, timestamp, uazapi_instance_id, chatwoot_contact_id, chatwoot_conversation_id, chatwoot_message_id FROM elevea.whatsapp_messages WHERE customer_id = $1 AND site_slug = $2 AND (chatwoot_contact_id IS NULL OR chatwoot_conversation_id IS NULL OR chatwoot_message_id IS NULL) AND direction = 'outbound' ORDER BY timestamp DESC LIMIT 10",
        "options": {
          "queryParameters": "={{ [$json.customer_id, $json.site_slug] }}"
        }
      },
      "id": "get-messages-without-chatwoot",
      "name": "PostgreSQL - Get Messages Without Chatwoot IDs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [850, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-batches-messages",
      "name": "Split In Batches - Messages",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT customer_id, site_slug, chatwoot_base_url, chatwoot_access_token, chatwoot_account_id, chatwoot_inbox_id FROM elevea.whatsapp_credentials WHERE customer_id = $1 AND site_slug = $2 AND status = 'active' LIMIT 1",
        "options": {
          "queryParameters": "={{ [$json.customer_id, $json.site_slug] }}"
        }
      },
      "id": "get-chatwoot-credentials",
      "name": "PostgreSQL - Get Chatwoot Credentials",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "jsCode": "const message = $input.all()[0].json || {};\nconst creds = $('PostgreSQL - Get Chatwoot Credentials').all()[0].json || {};\nreturn [{ json: { ...message, ...creds } }];"
      },
      "id": "merge-data",
      "name": "Code - Merge Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.chatwoot_account_id }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists"
              }
            },
            {
              "id": "condition-2",
              "leftValue": "={{ $json.chatwoot_inbox_id }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists"
              }
            },
            {
              "id": "condition-3",
              "leftValue": "={{ $json.chatwoot_access_token }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-chatwoot-config",
      "name": "IF - Has Chatwoot Config",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.chatwoot_base_url }}/api/v1/accounts/{{ $json.chatwoot_account_id }}/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $json.chatwoot_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"source_id\":\"{{ $json.phone_number }}\",\"name\":\"{{ $json.phone_number }}\",\"identifier\":\"{{ $json.phone_number }}\"}",
        "options": {
          "continueOnFail": true
        }
      },
      "id": "create-chatwoot-contact",
      "name": "HTTP - Create or Get Chatwoot Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1850, 200]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.all()[0].json || {};\nconst previousData = $input.all()[0].json || {};\nconst contactId = response.id || response.payload?.id || response.body?.id || response.payload?.payload?.id || previousData.chatwoot_contact_id || null;\nreturn [{ json: { ...previousData, chatwoot_contact_id: contactId } }];"
      },
      "id": "extract-contact-id",
      "name": "Code - Extract Contact ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2050, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.chatwoot_base_url }}/api/v1/accounts/{{ $json.chatwoot_account_id }}/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $json.chatwoot_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"source_id\":\"{{ $json.chatwoot_contact_id }}\",\"inbox_id\":{{ $json.chatwoot_inbox_id }},\"contact_id\":{{ $json.chatwoot_contact_id }}}",
        "options": {
          "continueOnFail": true
        }
      },
      "id": "create-chatwoot-conversation",
      "name": "HTTP - Create or Get Chatwoot Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2250, 200]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.all()[0].json || {};\nconst previousData = $input.all()[0].json || {};\nconst conversationId = response.id || response.payload?.id || response.body?.id || response.payload?.payload?.id || previousData.chatwoot_conversation_id || null;\nreturn [{ json: { ...previousData, chatwoot_conversation_id: conversationId } }];"
      },
      "id": "extract-conversation-id",
      "name": "Code - Extract Conversation ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2450, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.chatwoot_base_url }}/api/v1/accounts/{{ $json.chatwoot_account_id }}/conversations/{{ $json.chatwoot_conversation_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $json.chatwoot_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"content\":\"{{ $json.message }}\",\"message_type\":\"outgoing\",\"private\":false}",
        "options": {
          "continueOnFail": true
        }
      },
      "id": "send-message-to-chatwoot",
      "name": "HTTP - Send Message to Chatwoot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2650, 200]
    },
    {
      "parameters": {
        "jsCode": "const chatwootResponse = $input.all()[0].json || {};\nconst previousData = $input.all()[0].json || {};\nconst chatwootMessageId = chatwootResponse.id || chatwootResponse.payload?.id || chatwootResponse.body?.id || chatwootResponse.payload?.payload?.id || previousData.chatwoot_message_id || null;\nreturn [{ json: { ...previousData, chatwoot_message_id: chatwootMessageId } }];"
      },
      "id": "extract-chatwoot-message-id",
      "name": "Code - Extract Chatwoot Message ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2850, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE elevea.whatsapp_messages SET chatwoot_contact_id = COALESCE($1, chatwoot_contact_id), chatwoot_conversation_id = COALESCE($2, chatwoot_conversation_id), chatwoot_message_id = COALESCE($3, chatwoot_message_id), updated_at = NOW() WHERE message_id = $4 RETURNING message_id, chatwoot_contact_id, chatwoot_conversation_id, chatwoot_message_id;",
        "options": {
          "queryParameters": "={{ [$json.chatwoot_contact_id || null, $json.chatwoot_conversation_id || null, $json.chatwoot_message_id || null, $json.message_id] }}"
        }
      },
      "id": "update-message-with-chatwoot-ids",
      "name": "PostgreSQL - Update Message with Chatwoot IDs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [3050, 200]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all()[0].json || {};\nconsole.log('✅ Mensagem sincronizada:', { message_id: data.message_id, chatwoot_contact_id: data.chatwoot_contact_id, chatwoot_conversation_id: data.chatwoot_conversation_id, chatwoot_message_id: data.chatwoot_message_id });\nreturn [{ json: data }];"
      },
      "id": "log-success",
      "name": "Code - Log Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3250, 200]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code - Get Active Customers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Get Active Customers": {
      "main": [
        [
          {
            "node": "Split In Batches - Customers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches - Customers": {
      "main": [
        [
          {
            "node": "PostgreSQL - Get Messages Without Chatwoot IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Get Messages Without Chatwoot IDs": {
      "main": [
        [
          {
            "node": "Split In Batches - Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches - Messages": {
      "main": [
        [
          {
            "node": "PostgreSQL - Get Chatwoot Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Get Chatwoot Credentials": {
      "main": [
        [
          {
            "node": "Code - Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Merge Data": {
      "main": [
        [
          {
            "node": "IF - Has Chatwoot Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Has Chatwoot Config": {
      "main": [
        [
          {
            "node": "HTTP - Create or Get Chatwoot Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Create or Get Chatwoot Contact": {
      "main": [
        [
          {
            "node": "Code - Extract Contact ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Extract Contact ID": {
      "main": [
        [
          {
            "node": "HTTP - Create or Get Chatwoot Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Create or Get Chatwoot Conversation": {
      "main": [
        [
          {
            "node": "Code - Extract Conversation ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Extract Conversation ID": {
      "main": [
        [
          {
            "node": "HTTP - Send Message to Chatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Send Message to Chatwoot": {
      "main": [
        [
          {
            "node": "Code - Extract Chatwoot Message ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Extract Chatwoot Message ID": {
      "main": [
        [
          {
            "node": "PostgreSQL - Update Message with Chatwoot IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Update Message with Chatwoot IDs": {
      "main": [
        [
          {
            "node": "Code - Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-11T05:00:00.000Z",
  "versionId": "1"
}

