N8N_CONNECT_WORKFLOW_CORRIGIDO.json
{
  "name": "WhatsApp - Auth Connect (CORRIGIDO)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/whatsapp/auth/connect",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://eleveaagencia.netlify.app"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, X-APP-KEY"
              }
            ]
          }
        }
      },
      "id": "d2cbfd97-c2f2-4ba5-bb7d-18bcdd74a09c",
      "name": "🔗 Webhook - Auth Connect",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-192, -48],
      "webhookId": "whatsapp-auth-connect"
    },
    {
      "parameters": {
        "jsCode": "// Code - Normalize Auth Input\nconst now = () => new Date().toISOString();\nconst trim = v => typeof v === 'string' ? v.trim() : v;\nconst low = v => typeof v === 'string' ? v.toLowerCase() : v;\n\nconst out = [];\nfor (const {json} of items) {\n  const headers = Object.fromEntries(Object.entries(json.headers || {}).map(([k, v]) => [k.toLowerCase(), v]));\n  const method = (json.req?.method || json.method || '').toUpperCase();\n  \n  if (method === 'OPTIONS' || headers['access-control-request-method']) {\n    out.push({json: {_preflight: true}});\n    continue;\n  }\n  \n  let b = json.body || {};\n  if (typeof b === 'string') {\n    try { b = JSON.parse(b); } catch { b = {}; }\n  }\n  \n  const siteSlug = low(trim(b.siteSlug || b.site_slug || ''));\n  const customerId = trim(b.customerId || b.customer_id || b.userEmail || '');\n  const uazapiToken = trim(b.uazapiToken || b.uazapi_token || '');\n  const instanceName = trim(b.instanceName || b.instance_name || `${siteSlug}_${customerId.replace('@', '_')}`);\n  \n  if (!siteSlug || !customerId) {\n    out.push({\n      json: {\n        success: false,\n        ok: false,\n        error: 'siteSlug e customerId são obrigatórios',\n        statusCode: 400,\n        timestamp: now(),\n        _preflight: false\n      }\n    });\n    continue;\n  }\n  \n  out.push({\n    json: {\n      customer_id: customerId,\n      site_slug: siteSlug,\n      uazapi_token: uazapiToken,\n      instance_name: instanceName,\n      _preflight: false\n    }\n  });\n}\nreturn out;"
      },
      "id": "010f3fb6-51c9-494c-8167-f4ceb84ad0eb",
      "name": "📝 Code - Normalize Auth",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [32, -48]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://elevea.uazapi.com/instance/init",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "admintoken",
              "value": "={{ $json.uazapi_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=   {\n     \"name\": \"{{ $json.instance_name }}\"\n   }",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "9e65878d-2a4c-4ee3-9f75-d9a3beaa4d37",
      "name": "🌐 HTTP - Create UAZAPI Instance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [256, -48],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Code - Extract Instance Data\nconst inputData = $input.all();\n\nif (inputData.length === 0) {\n  return [{\n    json: {\n      success: false,\n      ok: false,\n      error: 'Nenhuma resposta recebida'\n    }\n  }];\n}\n\n// Função para extrair apenas dados JSON puros\nfunction extractJSONData(obj, maxDepth = 5, currentDepth = 0) {\n  if (currentDepth > maxDepth) return null;\n  if (obj === null || obj === undefined) return null;\n  \n  if (typeof obj !== 'object') return obj;\n  \n  if (Array.isArray(obj)) {\n    return obj.map(item => extractJSONData(item, maxDepth, currentDepth + 1));\n  }\n  \n  const result = {};\n  const skipKeys = ['socket', '_httpMessage', 'res', 'req', 'client', 'server'];\n  \n  for (const key in obj) {\n    if (skipKeys.includes(key)) continue;\n    if (key.startsWith('_') && !['instance', 'token', 'id'].includes(key)) continue;\n    if (typeof obj[key] === 'function') continue;\n    \n    try {\n      const value = extractJSONData(obj[key], maxDepth, currentDepth + 1);\n      if (value !== null && value !== undefined) {\n        result[key] = value;\n      }\n    } catch (e) {\n      continue;\n    }\n  }\n  \n  return result;\n}\n\nconst httpNodeRaw = inputData[0].json || {};\nconst statusCode = inputData[0].statusCode || httpNodeRaw.statusCode || 0;\n\nlet httpResponse = null;\n\n// ESTRATÉGIA 1: Verificar se os dados da API estão diretamente no objeto\nif (httpNodeRaw.instance || httpNodeRaw.token || httpNodeRaw.id) {\n  httpResponse = httpNodeRaw;\n}\n// ESTRATÉGIA 2: Tentar propriedades comuns\nelse if (httpNodeRaw.json && typeof httpNodeRaw.json === 'object') {\n  httpResponse = httpNodeRaw.json;\n}\nelse if (httpNodeRaw.data && typeof httpNodeRaw.data === 'object') {\n  httpResponse = httpNodeRaw.data;\n}\nelse if (httpNodeRaw.body && typeof httpNodeRaw.body === 'object') {\n  if (httpNodeRaw.body.instance || httpNodeRaw.body.token || httpNodeRaw.body.id) {\n    httpResponse = httpNodeRaw.body;\n  }\n}\n\n// ESTRATÉGIA 3: Tentar extrair o JSON do objeto HTTP\nif (!httpResponse) {\n  const cleaned = extractJSONData(httpNodeRaw);\n  if (cleaned && typeof cleaned === 'object' && !Array.isArray(cleaned)) {\n    if (cleaned.instance || cleaned.token || cleaned.id) {\n      httpResponse = cleaned.instance || cleaned;\n    }\n  }\n}\n\nif (typeof httpResponse === 'string') {\n  try {\n    httpResponse = JSON.parse(httpResponse);\n  } catch (e) {\n    httpResponse = {};\n  }\n}\n\nif (!httpResponse || typeof httpResponse !== 'object' || Array.isArray(httpResponse)) {\n  httpResponse = {};\n}\n\nconst normalizeData = $('📝 Code - Normalize Auth').all();\nconst normalize = normalizeData && normalizeData.length > 0 ? normalizeData[0].json : {};\n\nif (statusCode >= 400) {\n  return [{\n    json: {\n      success: false,\n      ok: false,\n      error: httpResponse.error?.message || httpResponse.message || httpResponse.error || `HTTP ${statusCode}: Erro ao criar instância`,\n      statusCode: statusCode,\n      customer_id: normalize.customer_id,\n      site_slug: normalize.site_slug\n    }\n  }];\n}\n\n// Extrair dados da instância\nlet instance = null;\nlet instanceToken = '';\nlet instanceId = '';\n\nif (httpResponse.instance && httpResponse.instance.id) {\n  instance = httpResponse.instance;\n  instanceId = httpResponse.instance.id;\n  instanceToken = httpResponse.instance.token || httpResponse.token || '';\n}\nelse if (httpResponse.data && httpResponse.data.instance && httpResponse.data.instance.id) {\n  instance = httpResponse.data.instance;\n  instanceId = httpResponse.data.instance.id;\n  instanceToken = httpResponse.data.instance.token || httpResponse.data.token || '';\n}\nelse if (httpResponse.id) {\n  instance = httpResponse;\n  instanceId = httpResponse.id;\n  instanceToken = httpResponse.token || '';\n}\nelse {\n  instance = httpResponse.instance || httpResponse.data?.instance || httpResponse;\n  instanceId = instance?.id || instance?.instanceId || instance?.instance_id || httpResponse.id || '';\n  instanceToken = instance?.token || httpResponse.token || httpResponse.data?.token || '';\n}\n\ninstanceToken = instance?.token || httpResponse.token || instanceToken || '';\n\nif (!instanceId && statusCode === 200) {\n  return [{\n    json: {\n      success: false,\n      ok: false,\n      error: 'Resposta da API não contém dados da instância',\n      statusCode: statusCode,\n      customer_id: normalize.customer_id,\n      site_slug: normalize.site_slug\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    customer_id: normalize.customer_id,\n    site_slug: normalize.site_slug,\n    uazapi_instance_id: instanceId,\n    uazapi_token: instanceToken,\n    instance_name: normalize.instance_name,\n    // QR code ainda não está disponível - precisa chamar /connect\n    uazapi_qr_code: null,\n    uazapi_status: instance?.status || httpResponse.status || 'disconnected'\n  }\n}];"
      },
      "id": "b5711ce0-9359-4c1b-a971-edfc4d176f31",
      "name": "📦 Code - Extract Instance Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, -48]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://elevea.uazapi.com/instance/connect",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $json.uazapi_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": false,
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "4ab1301b-2467-4f7d-a497-49c81c54708b",
      "name": "🌐 HTTP - Get QR Code",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [688, -48],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Code - Extract QR Code\nconst inputData = $input.all();\nconst previousData = $('📦 Code - Extract Instance Data').all()[0]?.json || {};\n\nif (inputData.length === 0) {\n  return [{\n    json: {\n      ...previousData,\n      success: false,\n      ok: false,\n      error: 'Nenhuma resposta recebida do /instance/connect'\n    }\n  }];\n}\n\nconst httpNodeRaw = inputData[0].json || {};\nconst statusCode = inputData[0].statusCode || httpNodeRaw.statusCode || 0;\n\n// Extrair resposta HTTP\nlet httpResponse = null;\n\nif (httpNodeRaw.instance || httpNodeRaw.qrcode) {\n  httpResponse = httpNodeRaw;\n}\nelse if (httpNodeRaw.json && typeof httpNodeRaw.json === 'object') {\n  httpResponse = httpNodeRaw.json;\n}\nelse if (httpNodeRaw.data && typeof httpNodeRaw.data === 'object') {\n  httpResponse = httpNodeRaw.data;\n}\nelse if (httpNodeRaw.body && typeof httpNodeRaw.body === 'object') {\n  httpResponse = httpNodeRaw.body;\n}\nelse {\n  httpResponse = httpNodeRaw;\n}\n\nif (typeof httpResponse === 'string') {\n  try {\n    httpResponse = JSON.parse(httpResponse);\n  } catch (e) {\n    httpResponse = {};\n  }\n}\n\nif (!httpResponse || typeof httpResponse !== 'object' || Array.isArray(httpResponse)) {\n  httpResponse = {};\n}\n\nif (statusCode >= 400) {\n  return [{\n    json: {\n      ...previousData,\n      success: false,\n      ok: false,\n      error: httpResponse.error || httpResponse.message || `HTTP ${statusCode}: Erro ao obter QR code`,\n      statusCode: statusCode\n    }\n  }];\n}\n\n// Extrair QR code da resposta\nconst instanceData = httpResponse.instance || httpResponse;\nconst qrCode = instanceData.qrcode || instanceData.qrCode || instanceData.qr_code || httpResponse.qrcode || '';\n\n// Se o QR code já vem como data URI, usar diretamente\n// Se vier como base64 puro, adicionar prefixo\nlet finalQrCode = null;\nif (qrCode && qrCode.trim() !== '' && qrCode !== 'null') {\n  if (qrCode.startsWith('data:')) {\n    finalQrCode = qrCode;\n  } else {\n    finalQrCode = `data:image/png;base64,${qrCode}`;\n  }\n}\n\nif (!finalQrCode) {\n  return [{\n    json: {\n      ...previousData,\n      success: false,\n      ok: false,\n      error: 'QR code não retornado pela API. Resposta: ' + JSON.stringify(httpResponse).substring(0, 500)\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...previousData,\n    uazapi_qr_code: finalQrCode,\n    uazapi_status: 'connecting'\n  }\n}];"
      },
      "id": "b141d6fa-0139-46fd-a546-9af86216346b",
      "name": "📦 Code - Extract QR Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [896, -48]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO elevea.whatsapp_credentials (\n  customer_id,\n  site_slug,\n  uazapi_instance_id,\n  uazapi_token,\n  uazapi_qr_code,\n  uazapi_status,\n  whatsapp_instance_name,\n  status\n)\nVALUES (\n  $1,\n  $2,\n  $3,\n  $4,\n  $5,\n  $6,\n  $7,\n  'active'\n)\nON CONFLICT (customer_id, site_slug)\nDO UPDATE SET\n  uazapi_instance_id = EXCLUDED.uazapi_instance_id,\n  uazapi_token = EXCLUDED.uazapi_token,\n  uazapi_qr_code = EXCLUDED.uazapi_qr_code,\n  uazapi_status = EXCLUDED.uazapi_status,\n  whatsapp_instance_name = EXCLUDED.whatsapp_instance_name,\n  updated_at = NOW()\nRETURNING customer_id, site_slug, uazapi_instance_id, uazapi_qr_code, uazapi_status;",
        "options": {
          "queryReplacement": "=$1 → {{$json.customer_id}}\n$2 → {{$json.site_slug}}\n$3 → {{$json.uazapi_instance_id}}\n$4 → {{$json.uazapi_token}}\n$5 → {{$json.uazapi_qr_code}}\n$6 → {{$json.uazapi_status}}\n$7 → {{$json.instance_name}}"
        }
      },
      "id": "7e224a9b-9ff0-4d6f-a9a2-c91ea06d3f68",
      "name": "🗄️ PostgreSQL - Save Credentials",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1104, -48],
      "credentials": {
        "postgres": {
          "id": "S2Hp22T5AgilJMEy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, ok: true, qrCode: $json.uazapi_qr_code || '', instanceId: $json.uazapi_instance_id || '', status: $json.uazapi_status || 'connecting' } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://eleveaagencia.netlify.app"
              }
            ]
          }
        }
      },
      "id": "ee2532db-8ab9-419c-aa8c-0c5a5616e7be",
      "name": "📤 Respond - Auth",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1312, -48]
    }
  ],
  "connections": {
    "🔗 Webhook - Auth Connect": {
      "main": [
        [
          {
            "node": "📝 Code - Normalize Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Code - Normalize Auth": {
      "main": [
        [
          {
            "node": "🌐 HTTP - Create UAZAPI Instance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 HTTP - Create UAZAPI Instance": {
      "main": [
        [
          {
            "node": "📦 Code - Extract Instance Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Code - Extract Instance Data": {
      "main": [
        [
          {
            "node": "🌐 HTTP - Get QR Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 HTTP - Get QR Code": {
      "main": [
        [
          {
            "node": "📦 Code - Extract QR Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Code - Extract QR Code": {
      "main": [
        [
          {
            "node": "🗄️ PostgreSQL - Save Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🗄️ PostgreSQL - Save Credentials": {
      "main": [
        [
          {
            "node": "📤 Respond - Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  }
}

